<html>
<head>
<title></title>
</head>
<body style="margin: 2em 5%% 2em 5%%; font-family: Verdana, san-serif;">
<p>
<strong>%s</strong>
</p>
<p>
%s
</p>
<p>
<table width="50%%" border="0" align="left" style="border: 0px;">
<tbody>
<tr><td width="30%%"> %s </td><td> <strong>%s</strong> </td></tr>
<tr><td> %s </td><td> <strong>%s</strong> </td></tr>
<tr><td> %s </td><td> <strong>%s %s</strong> </td></tr>
<tr><td> %s </td><td> <strong>%s %s</strong> </td></tr>
<tr><td> %s </td><td> <strong>%s%%</strong> </td></tr>
<tr><td> %s </td><td> <strong>%s%%</strong> </td></tr>
<tr><td> %s </td><td> <strong>%s</strong> </td></tr>
</tbody>
</table>
</p>
</body>
</html>
